# General Configuration

input_files=("sample.fastq")
input_dir=/home/enumbin/Desktop/friends/nibir/PLUTON/data;
output_dir=/home/enumbin/Desktop/friends/nibir/PLUTON/results;

#Configuration Setting for Quality Check.

fastqc_path=/home/enumbin/Desktop/friends/nibir/PLUTON/tools/fastqc_v0.11.9/FastQC/;

#Configuration setting for aligment phase.

bowtie_path=/home/enumbin/Desktop/friends/nibir/PLUTON/tools/bowtie2-2.4.4-linux-x86_64;
ref_index_path=/home/enumbin/Desktop/friends/nibir/PLUTON/data/bowtie2_reference_index;


#Configuration setting for removing duplicates with picard.

picard_path=/home/enumbin/Desktop/friends/nibir/PLUTON/tools/picard-2.26.10/picard/build/libs
